{% extends 'common/base.html' %}
{% block content %}
    <section >
      <div class="profile_content">
        <div class="row">
          <div class="col-md-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture upload button-->
                  <form action="{%url 'upload_image' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <input type="file" name="upload" class="form-control" id="inputGroupFile02">
                    </div>
                    <button class="button" type="submit">Upload image</button>
                  </form>
                </div>
            </div>
          </div>
          <div class="col-md-8">
            <form class="row g-3" action="{%url 'edit_tenant' %}" method="post">
              {% csrf_token %}
              <div class="col-12">
                <label for="input_name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="input_name" value="{{tenant_info.user.name}}">
              </div>

              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" required name="address" class="form-control" id="inputAddress"  value="{{tenant_info.address}}">
              </div>

              <div class="col-md-8">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" required name="city" class="form-control" id="inputCity" value="{{tenant_info.city}}">
              </div>

              <div class="col-md-4">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" required name="pincode" class="form-control" id="inputZip" value="{{tenant_info.pincode}}">
              </div>
              {% if tenant_info.document_proof == 'AADHAR' %}
              <div class="col-12">
                <label for="id_type_show" class="form-label">Id proof</label>
                <select id="id_type_show" name="proof_type" class="form-select">
                  <option value="{{tenant_info.document_proof}}">{{tenant_info.DocumentProofType.AADHAR.label}}</option>
                  {% for value, display in tenant_info.DocumentProofType.choices%}
                  <option value="{{ value }}">{{ display }}</option>
                  {% endfor %}
                </select>
              </div>

              {% else %}
              <div class="col-12">
                <label for="id_type" class="form-label">Id proof</label>
                <select id="id_type" name="proof_type" class="form-select">
                  <option value="select">Select ID Type</option>
                  {% for value, display in tenant_info.DocumentProofType.choices%}
                  <option value="{{ value }}">{{ display }}</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}

              <div class="col-12" id="aadharField" style="display: none;">
                <label for="aadhar_number" class="form-label">Aadhar number</label>
                <input type="text" name="aadhar_number" class="form-control" id="aadhar_number">
              </div>

              <div class="col-12" id="voterField" style="display: none;">
                <label for="voter_id" class="form-label">Voter id</label>
                <input type="text" name="voter_id" class="form-control" id="voter_id">
              </div>

              <div class="col-12">
                <button type="submit" class="button">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}