{% extends 'common/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section >
      <div class="profile_content">
        <div class="row">
          <div class="col-12">
            <h1>Create Property</h1>
            <form action="{% url 'create_property' %}" method="post">
                {% csrf_token %}
                {{ property_form|crispy }}
                <button type="submit" class="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}